<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/media-queries/index-media-queries.css">
    <link rel="shortcut icon" href="/assets/img/Favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Source+Code+Pro:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=panchang@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style-query.css">
    <title>Главная</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-logo">
                <h1>Kanatov <span>Info</span></h1>
            </div>
            <div class="header-menu">
                <div class="header-menu-icon">
                    <ul class="header-menu-list">
                        <li class="header-menu-list__item active"><a href="/">Главная</a></li>
                        <li class="header-menu-list__item"><a href="/tasks">Задания</a></li>
                        <li class="header-menu-list__item"><a href="/achievements">Мои достижения</a></li>
                        <li class="header-menu-list__item"><a href="/login" sec:authorize="!isAuthenticated()">Войти</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
           <div class="body-container">
            <div class="content">
                <div class="left-text">
                    <p>Канатов Алан Олегович родился 15 июня 1998 года в городе Боровск Калужской Области. В 2016 году поступил во Владикавказский филиал Финансового университета при Правительстве Российской Федерации на финансово-экономический факультет, направление подготовки 38.03.05. «Бизнес информатика».</p>
                    <a href="/achievements"><input type="button" value="Достижения"></a>
            </div>
            <div class="content-photo">
                <img src="/assets/img/photo.png" alt="photo">
            </div>
        </div>
        <div class="bottom-content">
            <p>Окончил обучение в бакалавриате в июне 2020 года. С 1 сентября 2020 года являюсь преподавателем факультета среднего профессионального образования Владикавказского филиала Финансового университета при Правительстве Российской Федерации.</p>
            <a href="/tasks"><input type="button" value="Задания"></a>
            </div>
        </div>
    </main>
    <footer class="footer">
         <div class="footer-content">
             <h1 class="footer-contact-me">Связь со мной</h1>
             <p class="footer-contact-phone">email@mail.ru</p>
             <p class="footer-contact-mail">8-888-888-88-88</p>    
         </div>
    </footer>
</div>
</body>
</html>