<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/img/Favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Source+Code+Pro:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=panchang@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/achievments.css">
    <link rel="stylesheet" href="/assets/css/achievments-query.css">
    <title>Мои достижения</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-logo">
                <h1>Kanatov <span>Info</span></h1>
            </div>
            <div class="header-menu">
                <div class="header-menu-icon">
                    <ul class="header-menu-list">
                        <li class="header-menu-list__item"><a href="/">Главная</a></li>
                        <li class="header-menu-list__item"><a href="/tasks">Задания</a></li>
                        <li class="header-menu-list__item active"><a href="/achievements">Мои достижения</a></li>
                        <li class="header-menu-list__item"><a href="/login" sec:authorize="!isAuthenticated()">Войти</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main-content">
                <div class="main-content-photo-left">
                    <img src="/assets/img/photo.png" alt="photo">
                </div>
                <p class="main-content-text-right">На этой странице расписаны все мои достижения. Подробнее с ними вы можете ознакомиться нажав на достижение, которое вам интересно.</p>
            </div>
            <div class="arrow-down">
                <i class="fas fa-arrow-down"></i>
            </div>
            <div class="achievments-list">
                <div class="refresher-courses">
                    <div class="achievment-title">
                        <h2>Курсы повышения квалификации</h2>
                    </div>
                    <div class="achievment-content">
                        <ul class="achievment-list">
                            <li><a href="/assets/img/courses/Cours_1.pdf" target="_blank">«Современные подходы к преподаванию информатики в ИКТ-технологии в образовательной деятельности в условиях реализации ФГОС».</a></li>
                            <li><a href="/assets/img/courses/Cours_2.pdf" target="_blank">«Технологии активного обучения и методика преподавания информатики в условиях реализации ФГОС».</a></li>
                            <li><a href="/assets/img/courses/Cours_3.pdf" target="_blank">«Опыт разработки и применения дистанционных образовательных технологий в высшем образовании».</a></li>
                            <li><a href="/assets/img/courses/Cours_4.pdf" target="_blank">«Деловой протокол и этикет для государственных и коммерческих организаций».</a></li>
                            <li><a href="/assets/img/courses/Cours_5.pdf" target="_blank">«Разработка электронных курсов в СДО Moodle».</a></li>
                        </ul>
                    </div>
                    <div class="scientific-works">
                        <div class="scientific-works">
                            <h2>Научные работы</h2>
                        </div>
                        <div class="achievment-content">
                            <ul class="achievment-list">
                                <li><a href="/assets/img/achievments/Achievment_7.pdf" target="_blank">Сертификат. Автор научной работы «Разработка и автоматизация бизнес-процессов сбора и анализа данных опросов удовлетворительности сотрудников ИТ-компаний с помощью платформы онлайн опросов».</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="refresher-courses">
                    <div class="achievment-title">
                        <h2>Личные достижения</h2>
                    </div>
                    <div class="achievment-content">
                        <ul class="achievment-list">
                            <li><a href="/assets/img/achievments/Achievment_4.pdf" target="_blank">Диплом. победителя Международной педагогической олимпиады «Профессиональная компетентность педагога среднего профессионального образования».</a></li>
                            <li><a href="/assets/img/achievments/Achievment_2.pdf" target="_blank">Диплом. Информационно-коммуникационные технологии.</a></li>
                            <li><a href="/assets/img/achievments/Achievment_5.pdf" target="_blank">Диплом. Всероссийская педагогическая конференция «Преподавание информатики и влияние информационных технологий на развитие и обучение» За активное участие в мероприятии.</a></li>
                            <li><a href="/assets/img/achievments/Achievment_6.pdf" target="_blank">Диплом. победителя в секции «Наука, общество, образование в условиях цифровизации и глобальных изменений».</a></li>
                            <li><a href="/assets/img/achievments/Achievment_1.pdf" target="_blank">Победитель Всероссийской олимпиады "Педагогическая практика".</a></li>
                            <li><a href="/assets/img/achievments/Achievment_9.pdf" target="_blank">Сертификат участника научных дебатов «Уроки пандемии: новая реальность».</a></li>
                            <li><a href="/assets/img/achievments/Achievment_8.pdf" target="_blank">Благодарность за оказанное содействие в подготовке научно-исследовательской работы «Проект внедрения системы электронного документооборота в магазин электронный техники».</a></li>
                            <li><a href="/assets/img/achievments/Achievment_3.pdf" target="_blank">Участник XI Всероссийской научно-практической конференции.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <h1 class="footer-contact-me">Связь со мной</h1>
                <p class="footer-contact-phone">email@mail.ru</p>
                <p class="footer-contact-mail">8-888-888-88-88</p>    
            </div>
       </footer>
    </div>
</body>
</html>