<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/assets/img/Favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Source+Code+Pro:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=panchang@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/tasks.css">
    <link rel="stylesheet" href="/static/assets/css/tasks-query.css">
    <script src="webjars/jquery/3.6.3/jquery.js"></script>
    <title>Задания</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-logo">
                <h1>Kanatov <span>Info</span></h1>
            </div>
            <div class="header-menu">
                <ul class="header-menu-list">
                    <li class="header-menu-list__item"><a href="/">Главная</a></li>
                    <li class="header-menu-list__item active"><a href="/tasks">Задания</a></li>
                    <li class="header-menu-list__item"><a href="/achievements">Мои достижения</a></li>
                    <li class="header-menu-list__item"><a href="/login" sec:authorize="!isAuthenticated()">Войти</a></li>
                </ul>
            </div>
        </header>
        <main class="main">
            <div class="add-remove-group-btns" sec:authorize="isAuthenticated()">
                <button type="button" id="create-folder-btn"><i class="fas fa-folder-plus"></i></button> <!-- Добавить папку -->
            </div>
            <div class="main-container">
                <div class="content-right" id="folders-div">
                    <div class="group" th:each="folder: ${allFolders}" th:id="${folder.key.substring(0, 13)}">
                        <div class="group-title">
                            <div class="group-name add-remove-group-btns" sec:authorize="isAuthenticated()">
                                <input type="text" name="group-name" class="folder-name" th:value="${folder.key.substring(14)}">
                                <button type="button"><i class="fas fa-folder-minus file-remove-btn"></i></button> <!-- Удалить папку -->
                                <button type="button"><i class="fa fa-file file-add-btn" aria-hidden="true"></i></button> <!-- Добавить файл -->
                                <input th:id="${'file-add-' + folder.key.substring(0, 13)}"
                                       type="file" name="file-add" style="display: none;"
                                       class="file-add"/>
                            </div>
                            <input type="text" name="group-name"
                                   th:value="${folder.key.substring(14)}" readonly
                                   sec:authorize="!isAuthenticated()">
                        </div>
                        <div class="group-content">
                            <div class="group-content-file-content" th:each="fileName: ${folder.value}" th:id="${fileName.substring(0, 13)}">
                                <img src="/static/assets/img/file-icon.png" alt="file" class="group-content-file">
                                <p class="group-content-file-name" th:text="${fileName.substring(14).substring(0, 7) + '...'}">Название документа</p>
                                <div class="group-content-file__items" sec:authorize="isAuthenticated()">
                                    <a th:href="${'/download/' + folder.key.substring(0, 13) + '/' + fileName.substring(0, 13)}" download><i class="fas fa-download"></i></a>
                                    <a href="" class="remove-file"><i class="fas fa-trash-alt"></i></a>
                                </div>

                                <div class="group-content-file__items" sec:authorize="!isAuthenticated()">
                                    <a th:href="${'/download/' + folder.key.substring(0, 13) + '/' + fileName.substring(0, 13)}" download><i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-left">
                    <p>Здесь вы можете скачать или посмотреть все задания, которые я даю.</p>
                </div>
            </div>
        </main>
        <!-- ИЗМЕНЕНО. Удалил футер. -->
    </div>
    <script src="/assets/js/tasks.js"></script>
</body>
</html>